.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
config/credentials.js
scratchpad/
package-lock.json
*.sublime-project
*.sublime-workspace
*.pui
*.prj