/**
 * Global css definitions for Liquido
 */

body {
  padding-top: 80px; /* because of fixed header with BETA warning */
}

.opaqueImg {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opaqueImg:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.grey {
  color: #999;
}
