/**
 * Global css definitions for Liquido
 */

body {
  padding-top: 50px; /* because of fixed header */
}


footer {
  margin-top: 15px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding-top: 5px;
  padding-bottom: 20px;
}

footer a {
  font-size: 12px;
  color: gray;
}

footer a:hover {
  color: blue;
}

.userPicture {
  width: 32px;
  height: 32px;
}

.userDataSmall {
  color: #999;
  font-size: 12px;
  line-height: 1.4;
  vertical-align: middle;
}

.opaqueImg {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opaqueImg:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.grey {
  color: #999;
}
