<div class="container">

  <h1>Add your new idea</h1>

  <hr>

  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="form-group">
          <input class="form-control" name="ideaTitle" id="ideaTitle" v-model="idea.title" placeholder="Title of your idea"/>
        </div>
        <div class="form-group">
          <tinymce v-ref:idea-description-editor textarea-id="ideaDescriptionEditor" value="Describe what your idea will improve ..."></tinymce>
        </div>

        <div class="form-group">
          <button id="saveIdeaButton" @click.prevent="saveIdea" class="pull-right btn btn-primary">Save Idea</button>
        </div>
      </form>

      <h3>Idea</h3>
      #{{ idea | json }}#

    </div>
  </div>


</div>