<div class="container">

  <h1>Add your new idea</h1>

  <hr>

  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="form-group">
          <input class="form-control" name="ideaTitle" id="ideaTitle" placeholder="Title of your idea" />
        </div>
        <div class="form-group">
          <tinymce v-ref:idea-description-editor textarea-id="ideaDescriptionEditor" content="Content from parent">This is some textarea content</tinymce>
        </div>

        <!--
        <div class="form-group">
          <textarea name="ideaDescription" id="ideaDescription" v-tinymce>Describe your idea here. Keep in mind that your idea needs at least NN supporters before it can be voted upon.</textarea>
        </div>
        -->

        <div class="form-group">
          <button id="saveIdeaButton" @click="saveIdea" class="pull-right btn btn-primary">Save Idea</button>
        </div>
      </form>

      <h3>Idea Description</h3>
      #{{ idea.description }}#


    </div>
  </div>


</div>