<div class="container">

  <h1>{{pageTitle}}</h1>

  <div class="panel panel-default">
    <div class="panel-body">

      <div name="editIdeaForm" class="form">
        <div class="form-group" v-bind:class="{ 'form-group--error': $v.idea.title.$error }">
          <input class="form-control" name="ideaTitle" id="ideaTitle" placeholder="Title of your idea"
           v-model.trim="idea.title" 
           @blur="titleTouched" />
          <p class="form-error-msg" v-bind:class="{'invisible' : !$v.idea.title.$error}">Please provide a title (at least 5 chars)</p>
        </div>
        <div class="form-group">
          <span name="ideaDescription">
            <tinymce 
              name="ideaDescription" 
              textarea-id="ideaDescriptionEditor"
              placeholder="Describe what your idea will improve ..."
              v-model="idea.description"
              ref="ideaDescriptionEditor"
              v-on:input="descriptionTouched">
            </tinymce>
          </span>
          <p class="form-error-msg" v-bind:class="{'invisible' : !$v.idea.description.$error}">Please provide a longer description.</p>
        </div>

        <div class="form-group">
          <label for="ideaCategory" class="col-sm-1 control-label">Category</label>
          <div class="col-sm-5">
            <select v-model="idea.area" class="form-control">
              <option v-for="category in categories" v-bind:value="category._links.self.href">{{category.title}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <button id="saveIdeaButton" @click.prevent="saveIdea" class="pull-right btn btn-primary" 
             data-loading-text="<i class='fa fa-spinner fa-spin '></i> Saving Idea ..." 
             v-bind:disabled="$v.idea.$invalid">Save Idea</button>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>