doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title Liquido
    link(rel='stylesheet', href='/css/doogie.css')
    link(rel='stylesheet', href='/css/datatables.min.css')
    link(rel='stylesheet', href='/bootstrap3-editable/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/css/lib/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/lib/jquery.tagit.css')
    //- Dragula Drag n Drop https://github.com/bevacqua/dragula
    link(rel='stylesheet', href='/css/lib/dragula.min.css') 
  body
    script(src='/js/lib/jquery-2.2.0.min.js')                       // http://jquery.com 
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.min.js')                          // http://getbootstrap.com
    script(src='/js/datatables.min.js')                             // http://www.datatables.net
    script(src='/js/validator.min.js')                              // http://1000hz.github.io/bootstrap-validator/
    script(src='/bootstrap3-editable/js/bootstrap-editable.js')     // https://vitalets.github.io/x-editable/
    script(src='/js/lib/tag-it.min.js')                             // https://github.com/aehlke/tag-it
    script(src='/js/main.js')                                       // client side javascript functions

    include partials/header

    div(class=fullWidth ? 'container-fluid' : 'container')
      // include partials/flash
      block content

    include partials/footer
