  <div class="container">
    <div class="page-header">
      <h3>Welcome {{$root.currentUser.profile.name}}</h3>
    </div>
    <div class="row">

      <div class="col-sm-6">

        <h3>Proposals currently open for voting</h3>
        <law-panel v-for="law in openForVotingProposals" :law="law"></law-panel>

        <h3 v-if="recentIdeas">Recently created Ideas</h3>
        <p>That you might like to discuss further</p>
        <idea-panel v-for="idea in recentIdeas" :idea="idea"></idea-panel>
      </div>

      <div class="col-sm-6">
        <h3>Ideas and Proposals created by you</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
              <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> My greatest idea</li>
              <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Second idea</li>
              <li><i class="fa fa-university"></i> My propsal in work (elaboration, 4 alternatives)</li>
              <li><i class="fa fa-university"></i>My proposal that did it (voting)</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            Recently created new Ideas
            <i aria-hidden="true" class="pull-right fa fa-lightbulb-o ideaIcon grey"></i>
          </div>
          <table class="table table-hover">
            <tbody>
              <tr v-for="idea in recentIdeas">   <!-- TODO: Maybe filter ideas created by logged in user? -->
                <td>{{idea.title}}</td>
                <td width="60%">{{idea.description}}</td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <img src="/static/img/Avatar_32x32.jpeg" class="media-object userPicture">
                      <span v-if="idea.supportedByCurrentUser" class="green">
                        <span class="fa fa-thumbs-o-up" aria-hidden="true"></span> {{idea.numSupporters}}
                      </span>
                      <span v-else>
                        <a v-on:click.prevent="likeToDiscuss(idea)" href="#" role="button" class="btn btn-default btn-xs" stlye="margin-top:5px">
                          <span class="fa fa-thumbs-o-up" aria-hidden="true"></span> {{idea.numSupporters}}
                        </a>
                      </span>
                    </div>
                    <div class="media-body">
                      <div class="news_heading">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{idea.createdBy.profile.name}}<br/>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{getFromNow(idea.createdAt)}}<br/>
                        <span class="glyphicon glyphicon-tag"  aria-hidden="true"></span>&nbsp;{{idea.area.title}}            
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>