<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a v-link="'/'" class="navbar-brand"><i class="fa fa-university"></i> Liquido</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a v-link="{ path: '/userHome' }">UserHome</a>
        <li><a v-link="{ path: '/areas' }">Areas</a>
        <li><a v-link="{ path: '/ideas' }">Ideas</a>
        <li><a v-link="{ path: '/laws' }">Laws</a>
      </ul>
      
      <ul class="nav navbar-nav navbar-right" v-if="user">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <img v-bind:src="user.profile.avatar">
            {{user.profile.name}}<i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a v-link="'proxies'">My Proxies</a></li>
            <li><a v-link="'account'">My Account</a></li>
            <li class="divider"></li>
            <li><a v-link="'logout'">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" v-else="user">
        <li><a v-link="'login'">Login</a></li>
        <li><a v-link="'signup'">Create Account</a></li>
      </ul>
    </div>
  </div>
</div>